.main {
    height: 100vh;
}

.sidebar {
    background: rgb(85, 84, 84);
    color: white;

}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 10px;

}
.sidebar a:hover{
    background: black;
}

.active{
    background: black;
    border-right: solid 10px orange;
}

.card-data{
    margin-bottom: 20px;
    border: solid 1px;
    padding: 20px 30px;
    color: white;
}

.card-data.cargo{
    background-color: teal;
}

.card-data.categories{
    background-color: rgb(143, 96, 9);
}

.card-data.user{
    background-color: rgb(32, 0, 128);
}

.card-data-svg {
    width: 80px;
    height: 80px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 40px;
    
}
